@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.97);
  background-image: url(../img/bgpattern.png);
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  color: white;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  background-color: #1f1f1f;
  color: white;
  padding: 30px;
  font-size: 3em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

/* scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* loader */
/* #stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    background-repeat: no-repeat;
    background-position: center;
}
*/
/* github */
#github {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  right: -500px;
  top: 25%;
  padding: 25px;
  width: 300px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  transition: all 100ms linear;
  display: flex;
  align-items: center;
  z-index: 99;
}
#github .fa-times {
  margin-right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
#github .fa-times:hover {
  color: #ddd;
}
#github a {
  display: flex;
  align-items: center;
}
#github a i {
  font-size: 2em;
  margin-left: 10px;
}
#github:hover {
  transform: scale(1.05);
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}
@keyframes slide {
  100% {
    right: 0;
  }
}
/* navbar */
#navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  transition: all 100ms linear;
}
#navbar .logo {
  text-align: center;
  margin: auto;
}
#navbar .logo img {
  animation: initial-spin 0.5s backwards;
  transition: 400ms ease-out;
  width: 100px;
}
#navbar .logo img:hover {
  transform: scale(1.3) rotate(360deg);
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 100ms linear;
}

@keyframes initial-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#menu {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
#menu .menuitem {
  font-size: 18px;
  text-align: center;
  padding: 35px;
  display: inline-block;
  margin: 0 auto;
}
#menu .menuitem a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-bottom: solid 0px #000;
  transition: 100ms linear;
}
#menu .menuitem a:hover {
  font-size: 1.1em;
  border-width: 2px;
}

/*Menu Ham*/
#menuham {
  display: none;
  margin: 0 auto;
}
#menuham .icon {
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#menuham ul {
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 0px;
  padding-top: 15px;
  /*padding-top: 100px;*/
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
#menuham ul li .menuitem {
  padding: 0px;
  height: 15vh;
}
#menuham ul li .menuitem a {
  font-size: 1.5em;
  clear: both;
  float: none;
  display: block;
  color: #fff;
}
#menuham input {
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 0;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}
#menuham .menuhamicon {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
#menuham .menuhamcross {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

/* header */
#header {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
  background-image: url("../img/headerbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
#header .animation {
  margin: 0 auto;
  width: 900px;
}
#header svg {
  margin-top: 40vh;
  font-weight: bold;
  width: 100%;
}
#header svg text {
  font-size: 16px;
}
#header h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
}

/* about */
#about {
  /* background-color: rgb(222,232,235); */
}
#about .grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 75%;
  margin: 75px auto;
}
#about .grid img {
  border: 5px solid #fff;
  border-radius: 50%;
  margin: 50px auto;
  height: 250px;
}
#about p {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 24px;
}

/* experience */
#experience {
  color: #000;
}
#experience .grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 60%;
  margin: 100px auto;
  gap: 50px;
}
#experience .grid .container {
  background-color: #fff;
  padding: 40px;
}
#experience .grid .container .grid {
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  margin: 25px;
  margin-top: 0px;
  gap: 15px;
}
#experience .grid .container .position {
  font-size: 1.3em;
}
#experience .grid .container .position,
#experience .grid .container .company {
  text-align: left;
  font-weight: bolder;
  text-transform: uppercase;
}
#experience .grid .container .date,
#experience .grid .container .location {
  text-align: right;
  font-size: 16px;
}

/* skills */
#skills .skill-type {
  background-color: #fff;
  color: #000;
  width: 60%;
  margin: 50px auto;
  padding: 40px 25px;
}
#skills .skill-type .title {
  font-size: 2em;
  margin-bottom: 25px;
}
#skills .skill-type .grid {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
}
#skills .skill-type .grid img {
  display: flex;
  height: 100px;
  margin: auto;
  transition: all 100ms linear;
}
#skills .skill-type .grid img:hover {
  transform: scale(1.1);
}
#skills .skill-type .grid p {
  margin-top: 25px;
  font-size: 1.1em;
  text-align: center;
}
#skills .skill-type:last-of-type {
  margin-bottom: 110px;
}

/* portfolio */
#portfolio {
  color: #000;
}
#portfolio .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  width: 80%;
  margin: 100px auto;
}
#portfolio .grid .container {
  background-color: #fff;
}
#portfolio .grid .container .portfolio-image {
  background-color: #d4d4d4;
  height: 240px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#portfolio .grid .container .portfolio-image:hover {
  overflow: visible;
}
#portfolio .grid .container .portfolio-image:hover img {
  transition: 100ms linear;
  transform: scale(1.1);
}
#portfolio .grid .container .portfolio-image img {
  transition: 100ms linear;
  display: flex;
  height: 250px;
}
#portfolio .grid .container .portfolio-desc {
  padding: 25px;
}
#portfolio .grid .container .portfolio-desc .portfolio-title {
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight: bold;
}
#portfolio .grid .container .portfolio-desc a {
  margin: 10px auto;
  color: black;
  text-decoration: underline;
  transition: 100ms linear;
}
#portfolio .grid .container .portfolio-desc a i {
  font-size: 18px;
  padding-right: 10px;
}
#portfolio .grid .container .portfolio-desc a:hover {
  transition: 100ms linear;
  font-size: 1.2em;
}
#portfolio .grid .container .portfolio-desc a:hover i {
  transform: scale(1.2);
}

/* education */
#education {
  color: #000;
}
#education .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 100px auto;
  gap: 100px;
}
#education .grid .container {
  width: 100%;
  background-color: #fff;
  padding: 40px;
}
#education .grid .container .title {
  font-weight: bolder;
  font-size: 24px;
  text-transform: uppercase;
}
#education .grid .container .sub {
  font-size: 16px;
}
#education .grid .container p {
  margin: 4px auto;
}

/* contact */
#contact #social {
  width: 250px;
  margin: 50px auto 100px auto;
}
#contact #social .socialmedia a {
  display: flex;
  align-items: center;
  justify-content: left;
  transition: 100ms linear;
}
#contact #social .socialmedia a:hover {
  font-size: 1.1em;
}
#contact #social .socialmedia a:hover i {
  transform: scale(1.3);
}
#contact #social .socialmedia a:hover .fa-behance {
  transition: 100ms linear;
  color: #1769ff;
}
#contact #social .socialmedia a:hover .fa-linkedin {
  transition: 100ms linear;
  color: #0077b5;
}
#contact #social .socialmedia a:hover .fa-instagram {
  transition: 100ms linear;
  color: #dd2a7b;
}
#contact #social .socialmedia i {
  font-size: 36px;
  padding: 24px;
  transition: 100ms linear;
}

/*footer*/
#footerdivider {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 16fr 1fr 16fr;
}

#footerdivider .line {
  height: 0;
  border: 1px solid #c4c4c4;
  display: inline-block;
}

#footerdivider img {
  padding: 0px 20px;
  margin-top: -35px;
  width: 75px;
  filter: invert(100%);
  transition: 250ms linear;
}
#footerdivider img:hover {
  transition: 250ms linear;
  transform: scale(1.3) rotate(360deg);
}

#footer {
  width: 80%;
  margin: 0 auto;
}

#copyright {
  padding: 25px;
  padding-bottom: 50px;
}

#copyright p {
  text-align: center;
  margin: 10px auto;
}
#copyright p br {
  display: none;
}

/* ongoing.html */
#ongoing {
  background-image: url(../img/ongoingbg.png);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#ongoing h2 {
  background-color: rgba(0, 0, 0, 0);
}
#ongoing h3,
#ongoing h4 {
  font-weight: normal;
}
#ongoing a {
  text-decoration: underline;
}
#ongoing a i {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
