@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.97);
  background-image: url(../img/bgpattern.png);
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: white;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  background-color: /* #21255c */ #1f1f1f;
  color: white;
  padding: 30px;
  font-size: 3em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

/* scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* loader */

/* #stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    background-repeat: no-repeat;
    background-position: center;
}
*/

/* github */

#github {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  right: -500px;
  top: 25%;
  padding: 25px;
  width: 300px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  transition: all 100ms linear;
  display: flex;
  align-items: center;
  cursor: pointer;
  .fa-times {
    margin-right: 10px;
    font-size: 1.5em;
    &:hover {
      color: #ddd;
    }
  }
  p {
    display: flex;
    align-items: center;
    i {
      font-size: 2em;
      margin-left: 10px;
    }
  }
  &:hover {
    transform: scale(1.05);
  }
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

/* navbar */

#navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  .logo {
    text-align: center;
    margin: auto;
    img {
      animation: initial-spin 0.5s backwards;
      transition: 400ms ease-out;
      width: 100px;
      &:hover {
        transform: scale(1.3) rotate(360deg);
      }
    }
  }
}

@keyframes initial-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#menu {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  .menuitem {
    font-size: 18px;
    text-align: center;
    padding: 35px;
    display: inline-block;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: black;
      padding: 5px;
      border-bottom: solid 0px #000;
      transition: 100ms linear;
      &:hover {
        font-size: 1.1em;
        border-width: 2px;
      }
    }
  }
}

/*Menu Ham*/
#menuham {
  display: none;
  margin: 0 auto;
  .icon {
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  ul {
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    padding-top: 15px;
    /*padding-top: 100px;*/
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    li .menuitem {
      padding: 0px;
      height: 15vh;

      a {
        font-size: 1.5em;
        clear: both;
        float: none;
        display: block;
        color: #fff;
      }
    }
  }

  input {
    position: relative;
    width: 80px;
    height: 80px;
    opacity: 0;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
  }

  .menuhamicon {
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
  }

  .menuhamcross {
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
  }
}

/* header */

#header {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
  background-image: url("../img/headerbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  .animation {
    margin: 0 auto;
    width: 900px;
  }

  svg {
    margin-top: 40vh;
    font-weight: bold;
    width: 100%;

    text {
      font-size: 16px;
    }
  }
  h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }
}

/* about */

#about {
  /* background-color: rgb(222,232,235); */

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 75%;
    margin: 0 auto;

    img {
      border: 5px solid #fff;
      border-radius: 50%;
      margin: 50px auto;
      height: 250px;
    }
  }

  p {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 28px;
  }
}

/* experience */

#experience {
  color: #000;

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    margin: 100px auto;
    gap: 50px;

    .container {
      background-color: #fff;
      padding: 40px;

      .grid {
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr 1fr;
        width: 90%;
        margin: 25px;
        margin-top: 0px;
        gap: 15px;
      }

      .position {
        font-size: 1.3em;
      }

      .position,
      .company {
        text-align: left;
        font-weight: bolder;
        text-transform: uppercase;
      }

      .date,
      .location {
        text-align: right;
        font-size: 16px;
      }
    }
  }
}

/* skills */

#skills {
  .skill-type {
    background-color: #fff;
    color: #000;
    width: 60%;
    margin: 50px auto;
    padding: 40px 25px;

    .title {
      font-size: 2em;
      margin-bottom: 25px;
    }

    .grid {
      padding: 25px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 25px;

      img {
        display: flex;
        height: 100px;
        margin: auto;
        transition: all 100ms linear;

        &:hover {
          transform: scale(1.1);
        }
      }

      p {
        margin-top: 25px;
        font-size: 1.1em;
        text-align: center;
      }
    }

    &:last-of-type {
      margin-bottom: 110px;
    }
  }
}

/* portfolio */

#portfolio {
  color: #000;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    width: 80%;
    margin: 100px auto;

    .container {
      background-color: #fff;

      .portfolio-image {
        background-color: rgb(212, 212, 212);
        height: 240px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &:hover {
          overflow: visible;

          img {
            transition: 100ms linear;
            transform: scale(1.1);
          }
        }

        img {
          transition: 100ms linear;
          display: flex;
          height: 250px;
        }
      }

      .portfolio-desc {
        padding: 25px;

        .portfolio-title {
          margin-bottom: 15px;
          font-size: 1.3em;
          font-weight: bold;
        }

        a {
          margin: 10px auto;
          color: black;
          text-decoration: underline;
          transition: 100ms linear;

          i {
            font-size: 18px;
            padding-right: 10px;
          }

          &:hover {
            transition: 100ms linear;
            font-size: 1.2em;

            i {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

/* education */

#education {
  color: #000;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 100px auto;
    gap: 100px;

    .container {
      width: 100%;
      background-color: #fff;
      padding: 40px;

      .title {
        font-weight: bolder;
        font-size: 24px;
        text-transform: uppercase;
      }

      .sub {
        font-size: 16px;
      }

      p {
        margin: 4px auto;
      }
    }
  }
}

/* contact */

#contact {
  #social {
    width: 250px;
    margin: 50px auto 100px auto;

    .socialmedia {
      a {
        display: flex;
        align-items: center;
        justify-content: left;
        transition: 100ms linear;

        &:hover {
          font-size: 1.1em;

          i {
            transform: scale(1.3);
          }

          .fa-behance {
            transition: 100ms linear;
            color: #1769ff;
          }

          .fa-linkedin {
            transition: 100ms linear;
            color: #0077b5;
          }

          .fa-instagram {
            transition: 100ms linear;
            color: #dd2a7b;
          }
        }
      }

      i {
        font-size: 36px;
        padding: 24px;
        transition: 100ms linear;
      }
    }
  }
}

/*footer*/

#footerdivider {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 16fr 1fr 16fr;
}

#footerdivider .line {
  height: 0;
  border: 1px solid #c4c4c4;
  display: inline-block;
}

#footerdivider img {
  padding: 0px 20px;
  margin-top: -35px;
  width: 75px;
  filter: invert(100%);
  transition: 250ms linear;

  &:hover {
    transition: 250ms linear;
    transform: scale(1.3) rotate(360deg);
  }
}

#footer {
  width: 80%;
  margin: 0 auto;
}

#copyright {
  padding: 25px;
  padding-bottom: 50px;
}

#copyright p {
  text-align: center;
  margin: 10px auto;

  br {
    display: none;
  }
}

/* ongoing.html */

#ongoing {
  background-image: url(../img/ongoingbg.png);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h2 {
    background-color: rgba(0, 0, 0, 0);
  }
  h3,
  h4 {
    font-weight: normal;
  }
  a {
    text-decoration: underline;
    i {
      text-decoration: none;
    }
  }
}
