@media only screen and (max-width: 1024px) {
  h2 {
    padding: 30px;
    font-size: 2em;
  }

  /* github */
  #github {
    span {
      display: none;
    }
  }

  /* navbar */

  #navbar {
    height: 75px;

    .menuitem a {
      border-bottom: solid 0px #fff;
      transition: 100ms linear;

      &:hover {
        font-size: 1.6em;
        border-width: 2px;
      }
    }
  }

  #menu {
    display: none;
  }

  #menuham {
    padding: 10px;
    display: block;
    .logo {
      float: none;
      margin: 0 auto;
    }

    input:checked ~ ul {
      /*afeta o irmão (que está no mesmo nível numa div) do input*/
      display: block;
    }

    input:checked ~ img {
      /*afeta o irmão (que está no mesmo nível numa div) do input*/
      opacity: 0;
    }
  }

  /* header */

  #header {
    .animation {
      width: auto;
    }

    svg {
      text {
        font-size: 16px;
      }
    }
  }

  /* about */

  #about {
    .grid {
      grid-template-columns: 1fr;
      width: auto;

      img {
        border: 5px solid #fff;
        height: 175px;
      }
    }

    p {
      width: 80%;
      margin: 0 auto;
      padding: 0px 0px 25px 0px;
      text-align: center;
      font-size: 24px;
    }
  }

  /* experience */

  #experience {
    .grid {
      grid-template-columns: 1fr;
      width: 80%;

      .container {
        width: auto;

        .grid {
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
          width: 90%;
        }

        .position,
        .company {
          text-align: left;
        }

        .date,
        .location {
          text-align: left;
        }
      }
    }
  }

  /* skills */

  #skills {
    .skill-type {
      width: 70%;
      padding: 40px;

      .grid {
        grid-template-columns: 1fr 1fr 1fr;

        img {
          height: 75px;
        }
      }
    }
  }

  /* portfolio */

  #portfolio {
    .grid {
      grid-template-columns: 1fr;
      width: 90%;
    }
  }

  /* education */

  #education {
    .grid {
      grid-template-columns: 1fr;
      width: 80%;
      gap: 50px;

      .container {
        width: auto;
      }
    }
  }

  #copyright p {
    br {
      display: block;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* experience */

  #experience {
    .grid {
      width: 90%;
    }
  }

  /* skills */

  #skills {
    .skill-type {
      width: 80%;
    }
  }

  /* portfolio */

  #portfolio {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  /* education */

  #education {
    .grid {
      width: 90%;
      gap: 50px;

      .container {
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  /* github */
  #github {
    padding: 15px;
  }

  /* experience */
  #experience .grid .container .grid {
    margin-left: 0px;
  }

  #experience .grid .container ul {
    padding-inline-start: 20px;
  }

  /* education */
  #education .grid .container ul {
    padding-inline-start: 20px;
  }

  /* skills */

  #skills {
    .skill-type {
      width: 65%;

      .grid {
        grid-template-columns: 1fr;
      }
    }
  }
}
