@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  background-color: #ff7723;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: black;
}

a {
  color: black;
  font-weight: 600;
}

.width {
  width: 1440px;
  margin: auto;
}

/* navbar */
#navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#menu {
  display: flex;
  align-items: center;
  margin: auto;
}
#menu .logo {
  float: left;
}
#menu .logo img {
  animation: initial-spin 0.5s backwards;
  transition: 400ms ease-out;
  width: 60px;
}
#menu .logo img:hover {
  transform: scale(1.3) rotate(360deg);
}
#menu .menuitems {
  padding-left: 25px;
  width: 100%;
}
#menu .menuitems .menuitem {
  font-size: 18px;
  text-align: center;
  padding: 40px;
  display: inline-block;
  margin: 0 auto;
  transition: padding-right 0.2s ease-in-out;
}
#menu .menuitems .menuitem a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-bottom: solid 0px #000;
  transition: padding, font-size 100ms linear;
}
#menu .menuitems .menuitem a:hover {
  font-size: 1.1em;
  border-width: 2px;
}
#menu .menuitems .menuitem img {
  width: 25px;
}
#menu .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  left: 0px;
}
#menu .grid .store {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu .grid .store img {
  padding: 20px;
  display: inline-block;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
#menu .grid .store img:hover {
  transform: scale(1.3);
}

@keyframes initial-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* header */
#header {
  background-color: #ff7023;
  height: 85vh;
}
#header .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding: 25px;
  padding-top: 215px;
  width: 1220px;
}
#header .grid .text h2 {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: -15px;
  font-weight: 600;
}
#header .grid .text h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}
#header .grid .text a {
  color: #fff;
  background: #f03709;
  text-decoration: none;
  letter-spacing: 1.5px;
  border: 0;
  border-radius: 3px;
  padding: 18px 32px 17px;
  font-size: 16px;
  min-width: 240px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}
#header .grid .text a:hover {
  background-color: #f02409;
  transform: scale(1.1);
}
#header .grid .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .grid .image img {
  height: 500px;
}

.divider {
  margin: auto;
  width: 60vw;
  height: 0;
  border: 1px solid black;
}

/* purpose */
#purpose {
  padding: 150px;
  padding-top: 50px;
  text-align: center;
}
#purpose h2 {
  text-align: center;
  font-size: 42px;
}
#purpose p {
  font-size: 1.2em;
}

/* about */
#aboutus {
  padding: 50px;
  padding-top: 25px;
  text-align: center;
}
#aboutus p {
  font-size: 1.1em;
}
#aboutus h2 {
  text-align: center;
  font-size: 42px;
}
#aboutus .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#aboutus .grid .host {
  padding: 50px 90px;
}
#aboutus .grid .host p {
  font-size: 1em;
}
#aboutus .grid .host h2 {
  font-size: 32px;
  margin-bottom: 0px;
}
#aboutus .grid .host h4 {
  margin-top: 10px;
  font-size: 16px;
}
#aboutus .grid .host img {
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}
#aboutus .grid .host img:hover {
  filter: blur(1px);
  transform: scale(1.03);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* download */
#download {
  text-align: center;
  padding-bottom: 75px;
}
#download h2 {
  font-size: 42px;
  margin: 0;
}
#download h4 {
  font-size: 24px;
  margin: 0;
  margin-top: 5px;
  font-weight: 600;
}
#download .grid {
  display: grid;
  width: 400px;
  margin: auto;
  margin-top: 25px;
  grid-template-columns: 1fr 1fr;
  position: relative;
  left: 0px;
}
#download .grid .store {
  display: flex;
  justify-content: center;
  align-items: center;
}
#download .grid .store img {
  padding: 20px;
  display: inline-block;
  height: 75px;
  transition: all 0.2s ease-in-out;
}
#download .grid .store img:hover {
  transform: scale(1.3);
}
#download #social {
  width: 250px;
  margin: auto;
}
#download #social .socialmedia a {
  display: flex;
  align-items: center;
  justify-content: left;
  transition: 100ms linear;
  text-decoration: none;
  font-weight: 400;
}
#download #social .socialmedia a:hover {
  transition: 100ms linear;
  font-size: 1.1em;
  font-weight: 600;
}
#download #social .socialmedia a:hover i {
  transition: 250ms linear;
  transform: scale(1.3);
}
#download #social .socialmedia a:hover .fa-youtube {
  transition: 100ms linear;
  color: #FF0000;
}
#download #social .socialmedia a:hover .fa-instagram {
  transition: 100ms linear;
  color: #EF2C8A;
}
#download #social .socialmedia i {
  font-size: 36px;
  padding: 24px;
}

/*footer*/
#footerdivider {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 16fr 1fr 16fr;
}

#footerdivider .line {
  height: 0;
  border: 1px solid black;
  display: inline-block;
}

#footerdivider img {
  padding: 0px 20px;
  margin-top: -35px;
  width: 75px;
  transition: 250ms linear;
}
#footerdivider img:hover {
  transition: 250ms linear;
  transform: scale(1.3) rotate(360deg);
}

#footer {
  margin: 0 auto;
  font-size: 1.1em;
}

#copyright {
  padding: 10px;
  padding-bottom: 20px;
}

#copyright p {
  text-align: center;
  margin: 10px auto;
}
#copyright p a {
  font-size: 1.1em;
}
#copyright p br {
  display: none;
}

/*# sourceMappingURL=main.css.map */
