@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@font-face{
    font-family: msyh;
    src: url(chinese.msyh.ttf);
}

/* *{
    cursor: url(../images/cursor.png), default;
}  */

body{
    background-color: rgba(0, 0, 0, 0.97);
    background-image: url(../images/bgpattern.png);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

#wrapper{
    margin: 0;
}

a{
    color: lightgray;
}

a:hover{
    color: rgb(255, 0, 0);
    /* cursor: url(../images/cursora.png), pointer; */
}

.container{
    width: 75%;
    margin: auto;
}

.title{
    font-family: msyh;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}

#aboutheader{
    background-image: url("../images/aboutusheaderbg.png");
    background-repeat: no-repeat;
    background-position: center -50px;
    background-size: cover;
    height: 750px;
}

#aboutheader .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    color: white;
    margin: 0 auto;
}

#landingheader{
    background-image: url("../images/landingheaderbg.png");
    background-repeat: no-repeat;
    background-position: auto -100px;
    background-size: cover;
    height: 900px;
}

#header{
    background-image: url("../images/headerbg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 850px;
}

#header .cta{
    position: absolute;
    right: 10%;
    top: 40%;
    background-color: rgba(255, 255, 255, 0);
    padding: 35px;
    border-radius: 10px;
}

#header .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
}

#header .getstarted{
    width: 25%;
    float: right;
    margin-top: 10px;
}

#forstylistsheader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: none;
    height: 700px;
}

#forstylistsheader .image{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    padding-top: 75px;
}

#forstylistsheader .image img{
    height: 400px;
}

#forstylistsheader .cta{
    background: none;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    position: relative;
    top: 35%;
}

#forstylistsheader .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: white;
    text-align: left;
}

#forstylistsheader .getstarted{
    width: 25%;
    min-width: 200px;
    float: left;
    margin-top: 10px;
}



/*Navbar*/

#navbar{
    z-index: 9999;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

#navbar img{
    padding: 10px;
    display: inline-block;
}

#navbar .logo{
    margin-left: 150px;
    float: left;
}

#navbar .logo img{
    margin: 3px;
    width: 55px;
}

#navbar .logo:hover{
    filter: invert(75%) sepia(40%) saturate(3927%) hue-rotate(344deg) brightness(90%) contrast(94%);
}

#navbar .menuitem{
    padding: 35px;
    float: left;
}

#navbar .menuitem a{
    text-decoration: none;
    color: white;
}

#navbar .menuitem a:hover{
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    color: rgb(200, 0, 0);
}

.loginbtn{
    margin-top: 32px; 
    float: right; 
    padding: 10px;
}

.loginbtn a{
    padding: 7px 17px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
}

.loginbtn a:hover{
    border: 2px solid rgb(180, 0, 0);
    cursor: pointer;
    -webkit-transition: border 300ms linear;
    -ms-transition: border 300ms linear;
    transition: border 300ms linear;
    color: lightgray;
}

.socialmedia{
    float: right;
}

.socialmedia img{
    margin-top: 30px;
    width: 25px;
}

.socialmedia img:hover{
    opacity: 0.9;
    filter: invert(75%) sepia(40%) saturate(3927%) hue-rotate(344deg) brightness(95%) contrast(94%);
}



/*Menu Ham*/
#menuham{
    display: none;
    margin: 0 auto;
}

#menuham .icon{
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#menuham ul{
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    /*padding-top: 100px;*/
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#menuham ul li .menuitem{
    font-size: 1.5em;
    clear: both;
    float: none;
    display: block;
}

#menuham ul li .loginbtn{
    font-size: 1.5em;
    clear: both;
    float: none;
    display: block;
}

#menuham ul li .loginbtn a{
    border: 0px solid black;
    color: white;
}

#menuham ul li .socialmedia{
    clear: both;
    float: none;
    display: inline-block;
}

#menuham input{
    position: relative;
    width: 80px;
    height: 80px;
    opacity: 0;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}

#menuham .menuhamicon{
    display: block;
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

#menuham .menuhamcross{
    display: block;
    height: 70px;
    width: 70px;
    margin: 0 auto;
}






/*footer*/

#footer{
    height: 200px;
}

#footerdivider{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 16fr 1fr 16fr;
}

#footerdivider .line{
    height: 0;
    border: 1px solid #C4C4C4;
    display: inline-block;
}

#footerdivider img{
    padding: 0px 20px;
    margin-top: -30px;
    width: 50px;
}

#footer .socialmedia{
    width: 40px;
}

.footertext{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

#footer .right{
    text-align: right;
}

#footer p{
    color: white;
}

#copyright{
    padding: 25px;
}

#copyright p{
    text-align: center;
    margin: 10px auto;
}






/*landing.php form*/

#form{
    position: absolute;
    top: 200px;
    right: 200px;
    background-color: rgba(255,250,250,0.9);
    box-shadow: 10px -10px 5px 0px rgba(0,0,0,0.3);
    height: 350px;
    width: 375px;
    border-radius: 10px;
    padding: 30px;
}

#form .title{
    font-size: 30px;
}

#form input{
    font-size: 16px;
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: transparent;
    display: block;
    margin-top: 25px;
    padding: 10px;
    width: 90%;
}

#form input:hover{
    outline: none;
    border-bottom: 1px solid darkgray;
}

#form input:focus{
    outline: none;
    border-bottom: 2px solid rgb(170, 0, 0);
}

#form button{
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 20px;
    color: white;
    background-color: rgb(200, 0, 0);
    margin-top: 40px;
    padding: 10px 20px;
    position: absolute;
    left: 30%;
}

#form button:hover{
    background-color: rgb(180, 0, 0);
    cursor: pointer;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}



/*index / landing*/

#sotce{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sotceimg{
    background-image: url(../images/barber.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#tired{
    padding: 20% 10%;
    background-color: white;
}

.cta{
    height: 250px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 25px;
}

.getstarted{
    background-color: white;
    padding: 25px; 
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    margin: auto;
}

.getstarted:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.cta p{
    margin-top: 0;
    padding-top: 25px;
}

.getstarted a{
    color: black;
    text-decoration: none;
}

#process{
    background-image: url(../images/processbg.png);
    padding: 50px 0px;
    min-height: 600px; 
    color: white;
    font-size: 24px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#process img{
    margin: auto;
    width: 150px;
}

#process p{
    margin: auto;
}

.first{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    padding-bottom: 3%;
    text-align: right;
}

.second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
}

#process .text{
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

#process .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#testimonials{
    color: white;
    text-align: center;
    font-size: 30px;
}

.slides{
    position: relative;
    height: 400px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.slide img{
    border-radius: 5px;
    margin: auto;
    min-height: 150px;
    height: 250px;
}

.slide p{
    margin: auto;
    text-align: left;
}

.showing{
    opacity: 1;
    z-index: 2;
}

#quotes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #f2f2f2;
}

#quotes p{
    font-size: 36px;
}

.progress{
    background: rgba(192, 192, 192, 0.1);
    height: 1px;
    overflow: hidden;
    position: relative;
    border: none;
  }
  
  .progress::before{
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: progress;
    background: rgb(240, 240, 240);
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 80px;
  }
  
  @keyframes progress{
    0%{
      transform: translateX(0px);
    }
    100%{
      transform: translateX(1500px);
    }
  }


#blog{
    height: 1300px;
    color: white;
}

#blog .title{
    padding: 25px 0px 25px 0px;
}

#blogpost .title{
    padding: 0px;
    font-size: 32px;
    text-align: left;
}

#blogpost p{
    width: 100%;
}

#blogpost{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    text-align: left;
    margin-bottom: 75px;
}

#blogpostimage{
    overflow: hidden;
    height: 300px;
}

#blogpostimage img{ 
    display: block;
    margin: auto;
    padding: 25px;
    width: 90%;
    height: 90%;
    object-fit: cover;
    filter: grayscale(0%);
}

#blogpostimage img:hover{
    filter: blur(1px);
    transform: scale(1.03);
    cursor: pointer;
    

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


#subscribe{
    padding-top: 25px;
    height: 400px;
}

#subscribe .title{
    color: white;
    margin-bottom: 75px;
}

#subscribe input{
    margin-left: 20%;
    min-width: 45%;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    background: none;
    color: lightgray;
    font-size: 20px;
    border: 2px solid white;
    padding-right: 5%;
}

#subscribe input::placeholder{
    font-size: 20px;
    color: rgb(148, 148, 148);
}

#subscribe button{
    margin-left: -5%;
    margin-right: 10%;
    min-width: 15%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 20px;
}

#subscribe button:hover{
    background-color: rgb(180, 0, 0);
    cursor: pointer;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}






/*login.php & register.php*/

#loginform{
    width: 450px;
    margin: 0px auto;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: rgb(32, 33, 36);
    color: rgb(190, 197, 209);
    padding: 32px;
    border-radius: 5px;
}

#loginform .title{
    font-weight: bold;
    margin: 0;
    color: white;
    font-size: 36px;
}

#loginform form p{
    font-size: 0.7em;
}

#loginform form{
    margin-top: 35px;
}

#loginform input{
    font-size: 16px;
    border: none;
    background-color: rgba(0,0,0,0.1);
    color: #dcddde;
    font-size: 0.9em;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    display: block;
    padding: 10px;
    width: 95%;
}

#loginform input:hover{
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    -webkit-transition: border 300ms linear;
    -ms-transition: border 300ms linear;
    transition: border 300ms linear;
}

#loginform input:focus{
    outline: none;
    border: 1px solid rgb(170, 0, 0);
}

#loginform button{
    font-size: 16px;
    border: 1px solid rgba(200, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    background-color: rgb(180, 0, 0);
    margin-top: 15px;
    padding: 12px 20px;
    width: 100%;
}

#loginform button:hover{
    background-color: rgb(160, 0, 0);
    cursor: pointer;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#loginform a{
    text-decoration: none;
}



/*about.php*/
#thennow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    color: white;
    padding: 50px;
}

#ournumbers{
    background-image: url(../images/aboutusournumbers.png);
    color: white;
    text-align: center;
    padding: 25px;
    padding-bottom: 75px;
    font-size: 24px;
}

#ournumbers .grid{
    margin-top: -25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

#whatdrivesus{
    color: white;
    padding: 25px;
    padding-bottom: 50px;
    text-align: center;
}



/* for stylists */

#whyusests{
    background-color: #fafafa;
    padding: 75px;
    padding-top: 15px;
}

#whyusests .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

#whyusests img{
    height: 175px;
    margin: 0 auto;
}

#wwydh{
    padding: 75px;
    padding-top: 15px;
    color: #fafafa;
}

#wwydh .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

#wwydh img{
    height: 175px;
    margin: 0 auto;
}

#testimonialsfs{
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 50px;
    padding-top: 0px;
}

#testimonialsfs .slides{
    position: relative;
    height: 400px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

#testimonialsfs .slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#testimonialsfs .slide img{
    border-radius: 5px;
    margin: auto;
    min-height: 150px;
    height: 300px;
}

#testimonialsfs .slide p{
    margin: auto;
}

#testimonialsfs .showing{
    opacity: 1;
    z-index: 2;
}



/* contactus.php */

#contactusform{
    width: 450px;
    margin: 0px auto;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: rgb(32, 33, 36);
    color: rgb(190, 197, 209);
    padding: 32px;
    border-radius: 5px;
}

#contactusform .title{
    font-weight: bold;
    margin: 0;
    color: white;
    font-size: 36px;
}

#contactusform form p{
    font-size: 0.7em;
}

#contactusform form{
    margin-top: 35px;
}

#contactusform input{
    font-size: 16px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    display: block;
    padding: 10px;
    width: 95%;
}

#contactusform input:hover{
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    -webkit-transition: border 300ms linear;
    -ms-transition: border 300ms linear;
    transition: border 300ms linear;
}

#contactusform button{
    font-size: 16px;
    border: 1px solid rgba(200, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    background-color: rgb(180, 0, 0);
    margin-top: 15px;
    padding: 12px 20px;
    width: 100%;
}

#contactusform button:hover{
    background-color: rgb(160, 0, 0);
    cursor: pointer;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#contactusform a{
    text-decoration: none;
}

#contactusform select{
    color: #74646E;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #DDD8DC;
    padding: 10px;
    width: 100%;
    outline: none;
    color: black;
}

#contactusform textarea{
    padding-top: 5px;
    padding-left: 5px;
    resize: none;
    height: 8em;
    width: 99%;
}