@media only screen and (max-width: 1024px){

    #menu .logo{
        /* clear: both;
        margin-left: 45%;
        display: block; */
        display: none;
    }

    #menu .menuitem{
        display: none;
    }

    #menu .loginbtn{
        display: none;
    }

    #menu .socialmedia{
        display: none;
    }


    


    #menuham{
        padding: 10px;
        display: block;
    }

    #menuham .logo{
        float: none;
        margin: 0 auto;
    }

    #menuham input:checked ~ ul{ /*afeta o irmão (que está no mesmo nível numa div) do input*/
        display: block;
    }

    #menuham input:checked ~ img{ /*afeta o irmão (que está no mesmo nível numa div) do input*/
        opacity: 0;
    }

    /*#menuham input:checked ~ i{
        color: white;
    }*/






    #form{
        top: 250px;
        left: 20%;
        margin: auto;
    }

    #sotce{
        grid-template-columns: 1fr;
    }

    #sotce img{
        display: none;
    }

    #tired{
        padding: 5% 10%;
        background-color: white;
        text-align: center;
    }

    #process{
        padding-top: 75px;
        height: 1100px;
    }

    .cta{
        height: 225px;
        background-color: rgba(0, 0, 0, 0.15);
        padding: 25px;
    }

    .cta .title{
        font-size: 36px;
    }

    .first, .second{
        margin: 50px 0px;
        grid-template-columns: 1fr;
        text-align: center;
        height: 250px;
    }

    .first p, .second p{
        padding-top: 35px;
    }

    .second{/*reverse div order: div 1 changes place with div 2*/
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .first br, .second br{
        display: none;
    }

    #process .icons img{
        width: 100px;
    }




    .slide{
        grid-template-columns: 1fr;
    }

    .slide img{
        height: 300px;
    }

    .slide p{
        padding-top: 10%;
        margin-bottom: 10%;
    }

    #quotes{
        margin: 200px 0px 100px 0px;
        grid-template-columns: 1fr;
    }

    #quotes br{
        display: none;
    }

    @keyframes progress{
        0% {
          transform: translateX(0px);
        }
        100% {
          transform: translateX(800px);
        }
      }

    #subscribe{
        height: 500px;
    }

    #subscribe input{
        margin-left: 0%;
        margin: auto;
        width: 94%;
        text-align: center;
    }

    #subscribe input::placeholder{
        text-align: center;
    }

    #subscribe button{
        display: block;
        margin: auto;
        margin-top: 25px;
    }

    #blog{
        height: 1600px;
    }

    #blogpost:nth-child(4){
        display: none;
    }

    #blogpost{
        grid-template-columns: 1fr;
        text-align: center;
    }

    
    #blogpost .title{
        text-align: center;
    }

    /* footer.php*/

    #footerdivider{
        margin: 5% auto;
        margin-top: 75px;
    }

    #footer{
        text-align: center;
    }

    .footertext{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20% 0% 10% 0%;
    }

    #footer .right{
        text-align: center;
    }

    
    /* login.php & register.php */
    #loginform{
        margin: 0 auto;
        width: 90%;
        height: 600px;
        padding-top: 150px;
    }

    #loginform input{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #loginform button{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }


    /*about.php*/
    #thennow{
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 25px;
        text-align: center;
    }

    #ournumbers{
        background-image: url(../images/aboutusournumbers.png);
        color: white;
        text-align: center;
        padding: 25px;
        padding-bottom: 75px;
        font-size: 24px;
    }

    #ournumbers .grid{
        margin-top: -25px;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    #whatdrivesus{
        color: white;
        padding: 25px;
        padding-bottom: 50px;
        text-align: center;
    }


    /* for stylists */

    #forstylistsheader{
        display: block;
        background: none;
        height: 775px;
    }
    
    #forstylistsheader .image{
        padding: 25px;
        padding-top: 125px;
    }
    
    #forstylistsheader .image img{
        height: 350px;
        margin: 0 auto;
    }
    
    #forstylistsheader .cta{
        display: block;
        margin: 0 auto;
        position: static;
    }
    
    #forstylistsheader .title{
        text-align: center;
    }
    
    #forstylistsheader .getstarted{
        width: 25%;
        min-width: 200px;
        float: none;
        margin-top: 10px;
    }

    #whyusests{
        background-color: #fafafa;
        padding: 75px;
        padding-top: 0px;
    }

    #whyusests .title{
        padding-top: 50px;
    }

    #whyusests .grid{
        gap: 20px;
        margin-top: 25px;
    }

    #whyusests img{
        height: 100px;
        margin: 0 auto;
    }

    #wwydh{
        padding: 75px;
        padding-top: 15px;
        color: #fafafa;
    }

    #wwydh .grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
    }

    #wwydh img{
        height: 125px;
        margin: 0 auto;
    }

    #testimonialsfs{
        height: 775px;
        margin-top: -75px;
    }

    #testimonialsfs .slide{
        grid-template-columns: 1fr;
    }

    #testimonialsfs .slide img{
        height: 300px;
    }

    #testimonialsfs .slide p{
        padding-top: 25px;
        margin-bottom: 0%;
        text-align: center;
    }

    /* contactus.php */
    #contactusform{
        margin: 0 auto;
        width: 90%;
        height: 600px;
        padding-top: 150px;
    }

    #contactusform input{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #contactusform button{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    
    #contactusform select{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #contactusform textarea{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px; 
    }

}